.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    padding-left: 8rem;
    padding-right: 8rem;
}

.hero-image-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-content-div {
    width: 100%;
}

.hero-image {
    height: 500px;
    width: 500px;
}

@media screen and (max-width: 840px) {
    .hero-section {
        display: block;
        padding-left: 2rem;
        padding-right: 2rem;
        min-height: 90vh;
    }
    .hero-image {
        height: 500px;
        width: 500px;
    }
}

@media screen and (max-width: 720px) {
    .hero-section {
        display: block;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .hero-image {
        height: 300px;
        width: 300px;
    }
}
